.Synonyms {
  margin-top: 20px;
}

.Synonyms strong {
  font-size: 14px;
  opacity: 75%;
  color: #4c4f6d;
}

.Synonyms ul {
  padding: 0;
  margin: 0;
}

.Synonyms li {
  display: inline-block;
  list-style: none;
  color: #8088a0;
  font-size: 14px;
  margin-right: 15px;
}
